{% extends "base.html" %}
{% load groups static %}

{% block extra_includes %}
    <script>
        const eventSources = [{
            url: "/api/course_event_feed/{{ course.id }}",
        }];
    </script>
    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <h2>{{ course }} {% if user|is_privileged %}<a href="{% url 'edit_course' course.id %}">(edit)</a>{% endif %}</h2>
    </div>
    <div class="row">
        <div id="cal-div" class="col-md-8">
            <div class="card mb-3">
                <div id="cal-header" class="card-header">Calendar</div>
                <div class="card-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
        <div id="main-div" class="col-md-4">
            <div class="card mb-3">
                <div class="card-header">Cross Listed Courses</div>
                <div class="card-body">
                    {% for course in cross_list %}
                        <p class="card-text">{{ course }}</p>
                    {% empty %}
                        <p class="card-text">None.</p>
                    {% endfor %}
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Tutors</div>
                <div class="card-body">
                    {% for tutor in tutors %}
                        <p class="card-text"><a href="{% url 'user_profile' tutor.person.id %}">{{ tutor.person }}</a></p>
                    {% empty %}
                        <p class="card-text">None.</p>
                    {% endfor %}
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">SI leaders</div>
                <div class="card-body">
                    {% for si in sis %}
                        <p class="card-text"><a href="{% url 'user_profile' si.person.id %}">{{ si.person }}</a></p>
                    {% empty %}
                        <p class="card-text">None.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
