{% extends "base.html" %}
{% load groups static %}

{% block extra_includes %}
    <script>
        function get_doc() {
            location.href = "{% url 'view_shift_doc' shift_id %}"
        }
    </script>
{% endblock %}

{% block content %}
    <h2>Shift Info</h2>
    <table class="table">
        <tr><td></td><td></td></tr>
        <tr>
            <th>Associated Person</th>
            <td>{{ shift.position.person }}</td>
        </tr>
        <tr>
            <th>Associated Position</th>
            <td>{{ shift.position }}</td>
        </tr>
        <tr>
            <th>Start</th>
            <td>{{ shift.start }}</td>
        </tr>
        <tr>
            <th>Duration</th>
            <td>{{ shift.duration }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ shift.location }}</td>
        </tr>
        <tr>
            <th>Kind</th>
            <td>{{ shift.kind }}</td>
        </tr>
    </table>

    <button onclick="get_doc()" class="btn btn-primary">Get Document</button>

    <br/><br/>

    <strong>
        {% if user.id == shift.position.person.id or user|is_privileged %}
            Change requests (<a href="{% url 'new_shift_change_request' shift.id %}">update shift</a>, <a href="{% url 'new_drop_request' shift.id %}">drop</a>):
        {% else %}
            Change requests:
        {% endif %}
    </strong>
    {% include "includes/shift_change_request_table.html" %}
{% endblock %}
