{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Create users in bulk</h2>
    <p>
        Write user data into the text area below. For each user you wish to add, add a single line with the following values in order and separated by commas.
        <ul>
            <li>an email address, like "jshmoe@umass.edu"</li>
            <li>a first name, like "joe"</li>
            <li>a last name, like "shmoe"</li>
        </ul>
        so the full line would be something like <code>jshmoe@umass.edu,joe,shmoe</code><br/><br/>
        <b>Note:</b> Capitalizations doesn't matter, and all the users that would be created during this process will be automatically added to Staff group.
    </p>
    <p>You can export large numbers of lines like this easily from programs like Excel by looking for an "export to CSV" (<a href="https://en.wikipedia.org/wiki/Comma-separated_values" target="_blank">comma-separated values</a>) or similar option.</p>
    <hr />
    <form method="post" action="{% url 'create_users_in_bulk' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Create Users</button>
    </form>
{% endblock %}
