{% extends "base.html" %}
{% load groups static %}
{% load position_helper static %}

{% block extra_includes %}
    <script>
        const eventSources = [{
            url: "/api/user_event_feed/{{ target_user.id }}",
        }];
    </script>
    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block content %}
    {% comment %}
        target_user is the user whose data is being displayed. user is the user
        for the current session.
    {% endcomment %}
    <div class="row">
        <h2>{{ target_user.first_name }} {{ target_user.last_name }}</h2>
    </div>
    <div class="row">
        <div id="cal-div" class="col-md-8">
            <div class="card mb-3">
                <div id="cal-header" class="card-header">Calendar</div>
                <div class="p2">
                    <p class="justify-content-center text-wrap text-center">
                    {% for type, color in color_coder.items %}
                        <span class="dot" style="background-color: {{color}};"></span>{{type}}  &emsp;
                    {% endfor %}
                    </p>
                </div>
                <div class="card-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
        <div id="main-div" class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Biography
                    {% if user.id == target_user.id %}
                        <a href="{% url 'edit_profile' user.id %}">(edit)</a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>Name:</strong> {{ target_user.first_name }} {{ target_user.last_name }}</p>
                    <p class="card-text"><strong>Email:</strong> <a href="mailto:{{ target_user.email }}">{{ target_user.email }}</a></p>
                    {% comment %} <p class="card-text"><strong>Groups:</strong> {{ target_user.groups.all|join:', '}}</p> {% endcomment %}
                    <p class="card-text"><strong>Position:</strong>
                        <ul>
                            {% for pos in target_user|positions %}
                                <li>{{pos}}</li>
                            {% endfor %}
                        </ul>
                    </p>
                    {% if target_user|is_si %}
                        <p class="card-text">
                            <strong>SI course:</strong>
                            <ul>
                                {% for pos in target_user|get_si_courses %}
                                    <li><a href="{% url 'view_course' pos.course_id %}">{{ pos.course_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </p>
                    {% endif %}
                    {% if target_user|is_gt %}
                        <p class="card-text">
                            <strong>Group Tutor Courses:</strong>
                            <ul>
                                {% for pos in target_user|get_gt_courses %}
                                    <li><a href="{% url 'view_course' pos.course_id %}">{{ pos.course_name }}</a></li>
                                {% endfor %}
                            </ul>
                    {% endif %}
                    {% if target_user|is_tutor %}
                        <p class="card-text">
                            <strong>Tutored Courses:</strong>
                            <ul>
                                {% for pos in target_user|get_tutor_courses %}
                                    <li><a href="{% url 'view_course' pos.course_id %}">{{ pos.course_name }}</a></li>
                                {% endfor %}
                            </ul>
                    {% endif %}
                    {% if target_user|is_pm %}
                        <p class="card-text">
                            <strong>Peers:</strong>
                            <ul>
                                {% for person in target_user|get_peers %}
                                    <li><a href="{% url 'user_profile' person.id %}">{{ person.name }}</a></li>
                                {% endfor %}
                            </ul>
                    {% endif %}
                </div>
            </div>
            {% if user.id == target_user.id or user|is_privileged %}
                <br />
                <div class="card">
                    <div class="card-header">
                        Operations
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <ul>
                                {% if user|is_privileged %}
                                    <li><a href="{% url 'new_shift_request_previleged' target_user.id %}">Schedule new session</a></li>
                                {% else %}
                                    <li><a href="{% url 'new_shift_request' %}">Schedule new session</a></li>
                                {% endif %}
                                <li><a href="{% url 'view_shift_change_requests_by_user' target_user.id %}">View shift change requests</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
