{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extra_includes %}
	<script>
		document.addEventListener("DOMContentLoaded", load_form_helpers);

		function load_form_helpers() {
			var sem = document.getElementById("supf-sem");
			var pos = document.getElementById("supf-pos");
			var tc = document.getElementById("supf-tc");
			var sic = document.getElementById("supf-sic");
			var peers = document.getElementById("supf-peers");

			function correct_option_sic() {
				sic.value = "";
				Array.prototype.forEach.call(sic.options, function(option, index) {
					if(option.text.split(',')[0] == sem.value) {
						option.style.display = "block";
					} else {
						option.style.display = "none";
					}
				});
			}

			sem.addEventListener("change", function() {
				correct_option_sic();
			});

			pos.addEventListener("change", function() {
				switch(pos.value) {
					case "SI":
					case "GT":
						sic.disabled = false;
						tc.disabled = true;
						tc.value = "";
						peers.disabled = true;
						peers.value = "";
						correct_option_sic();
						break;
					case "Tutor":
						tc.disabled = false;
						sic.disabled = true;
						sic.value = "";
						peers.disabled = true;
						peers.value = "";
						break;
					case "PM":
						peers.disabled = false;
						tc.disabled = true;
						tc.value = "";
						sic.disabled = true;
						sic.value = "";
						break;
					default:
						tc.disabled = true;
						tc.value = "";
						sic.disabled = true;
						sic.value = "";
						peers.disabled = true;
						peers.value = "";
				}
			});
		}
	</script>
{% endblock %}

{% block content %}
	<h2>View/Edit User</h2>
	<h4>Basic Information</h4>
	<form method="post" action="{% url 'view_or_edit_user' user_id %}">
		{% csrf_token %}
        {{ form_for_user|crispy }}
		<button type="submit" class="btn btn-primary">Save Changes</button>
	</form>
	<br/>
	{% if staff %}
	<h4>Staff Position Information</h4>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th scope="col">Semester</th>
				<th scope="col">Position</th>
				<th scope="col">Hourly Rate</th>
				<th scope="col">Course/s or Peers</th>
				<th scope="col" class="text-center">Delete</th>
			</tr>
		</thead>
		<tbody>
			{% for position in staff_info %}
				<tr>
					<td>{{position.semester}}</td>
					<td>{{position.position}}</td>
					<td>{{position.hourly_rate}}</td>
					<td>
						{% if position.position == "SI" %}
							{{ position.si_course.short_name }}
						{% elif position.position == "GT" %}
							{{ position.si_course.short_name }}
						{% elif position.position == "Tutor" %}
							{{ position.str_tutor_courses_list }}
						{% elif position.position == "PM" %}
							{{ position.str_peers_list }}
						{% endif %}
					</td>
					<td class="text-center"><a href="{% url 'delete_user_staff_position' user_id forloop.counter0 %}"><i class="bi bi-trash3 text-red"></i></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br/>
	<h5>Add new position</h5>
	<form method="post" action="{% url 'view_or_edit_user' user_id %}">
        {% csrf_token %}
        {{ form_for_postion|crispy }}
		<button type="submit" class="btn btn-primary">Add Position</button>
    </form>
	{% endif %}
{% endblock %}