{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_includes %}
<link rel="stylesheet" href="{% static 'css/punch_in_out.css' %}" />
<script src="{% static 'js/confetti.js' %}"></script> 
<script type="text/javascript">
	let state = 0;
	let ids = [{% for shift in shifts%} {{shift.id}}, {% endfor %} 0];
	ids.pop();
	const audio = new Audio("{% static 'audio/celebration.mp3' %}");

	function button_click() {
		if(state === 0) {
			document.getElementById("celebrate").innerHTML = "Stop The Celebration";
			confetti.start();
			audio.play();
			state += 1;
		} else {
			confetti.stop();
			document.getElementById("celebrate").innerHTML = "Let's Celebrate!!";
			state -= 1;
		}
	}

	function attended(id) {
		let check = document.getElementById(id).checked;
		let row = document.getElementById("tr-"+id);
		let att = document.getElementById("att-"+id);
		let catt = document.getElementById("catt-"+id);
		let res = document.getElementById("show-res-"+id);
		let cres = document.getElementById("res-"+id);
		if(check) {
			row.style.backgroundColor = "rgba(153,255,153,0.5)";
			att.style.display = "block";
			res.style.display = "none";
			catt.checked = true;
			cres.required = false;
		} else {
			row.style.backgroundColor = "rgba(255,114,111,0.5)";
			att.style.display = "none";
			res.style.display = "block";
			catt.checked = false;
			cres.required = true;
		}
	}

	function first_approve() {
		let att = false;
		let res = false;
		for (let i in ids) {
			att = att || document.getElementById(ids[i]).checked;
			res = res || (!document.getElementById(ids[i]).checked);
		}
		if (att) {
			document.getElementById("show-att").style.display = "block";
		} else {
			document.getElementById("show-att").style.display = "none";
		}
		if (res) {
			document.getElementById("show-res").style.display = "block";
		} else {
			document.getElementById("show-res").style.display = "none";
		}
	}
</script>

{% endblock %}

{% block content %}	
	{% if OURSMentor %}
		<div class="container">
			<h3>OURS Mentor Punch In/Punch Out:</h3>
		
			<div class="row col-12">
				<div class="col-3"></div>
			
				<div id="buttons-ours" class="col-6">
					<button id="punch-ours" class="btn btn-success col-12">
					<div id="now-ours">
						<span id="date-ours">03/12/2001</span><br><span id="time-ours">XX:YYam</span>
					</div>
					<div id="punch-in-ours">
						<i class="fas fa-angle-right"></i>
						<i class="fas fa-clock"></i>
						<div>Punch In</div>
					</div>
					<div id="punch-out-ours">
						<i class="fas fa-clock"></i>
						<i class="fas fa-angle-right"></i>
						<div>Punch Out</div>
					</div>
					</button>
					<button id="undo-ours" class="btn btn-default col-12"><i class="fas fa-undo"></i>Undo Last Punch</button>  
				</div>

				<div class="col-3"></div>
			
			</div>
		
		</div>

		<br/>
	{% endif %}

	{% if OA %}
		<div class="container">
			<h3>OURS Mentor Punch In/Punch Out:</h3>
		
			<div class="row col-12">
				<div class="col-3"></div>
			
				<div id="buttons-oa" class="col-6">
					<button id="punch-oa" class="btn btn-success col-12">
					<div id="now-oa">
						<span id="date-oa">03/12/2001</span><br><span id="time-oa">XX:YYam</span>
					</div>
					<div id="punch-in-oa">
						<i class="fas fa-angle-right"></i>
						<i class="fas fa-clock"></i>
						<div>Punch In</div>
					</div>
					<div id="punch-out-oa">
						<i class="fas fa-clock"></i>
						<i class="fas fa-angle-right"></i>
						<div>Punch Out</div>
					</div>
					</button>
					<button id="undo-oa" class="btn btn-default col-12"><i class="fas fa-undo"></i>Undo Last Punch</button>  
				</div>

				<div class="col-3"></div>
			
			</div>
		
		</div>

		<br/>
	{% endif %}

	<div class="container event-schedule-area-two bg-color pad100">
		<h3>Your Payroll:</h3>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title text-center">
						{% if shifts == None%}
							<p>
								You don't have any new payroll to sign. Thank you for signing all the payroll.
							</p>
							<button id="celebrate" class="btn btn-primary" onClick="button_click()">Let's Celebrate!!</button>
						{% else %}
							<p>
								To sign payroll just click on checkbox next to it indicating you did that shift. If you weren't able to
								complete that shift please don't click on the checkbox and then just click on approve button.
							</p>
						{% endif %}
					</div>
				</div>
			</div>
			{% if shifts != None %}
					<div class="row">
						<div class="col-lg-12">
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade active show" id="home" role="tabpanel">
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th class="text-center" scope="col">Attended?</th>
													<th class="text-center" scope="col">Date</th>
													<th class="text-center" scope="col">Session</th>
												</tr>
											</thead>
											<tbody>
												{% for shift in shifts %}
													<tr class="inner-box" id="tr-{{shift.id}}" style="background-color:rgba(255,114,111,0.5);">
														<td class="text-center">
															<input name="shift-{{shift.id}}" style="scale:1.7;" class="form-check-input" type="checkbox" id="{{shift.id}}" onClick="attended(this.id)">
														</td>
														<th scope="row">
															<div class="event-date">
																<span>{{shift.date}}</span>
																<p>{{shift.month}}</p>
															</div>
														</th>
														<td>
															<div class="event-wrap">
																<h3><a href="#">{{shift.kind}}</a></h3>
																<div class="meta">
																	<div>
																		<a href="#" style="text-decoration: none">{{shift.position}}</a>
																	</div>
																	<div class="time">
																		<span>{{shift.start}} - {{shift.end}} {{shift.duration}}</span>
																	</div>
																</div>
															</div>
														</td>
													</tr>
												{% endfor %}
											</tbody>
											<tfoot>
												<tr>
													<th class="text-center" colspan="3">
														<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" onClick="first_approve()">Approve</button>
													</th>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
			{% endif %}
			<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
					<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Payroll Confirmation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form method="post" action="{% url 'sign_payroll' %}">
						{% csrf_token %}
						<div class="modal-body">
							Looks like you are trying to apporve your payroll. Please make sure information given below is correct before clicking aprrove.
							<br/><br/>
							<div id="show-att" style="display:none;">
								<b>Shifts you have marked as attended:</b>
								<ul>
									{% for shift in shifts %}
										<input name="att-{{shift.id}}" id="catt-{{shift.id}}" style="display:none;" class="form-check-input" type="checkbox"/>
										<li id="att-{{shift.id}}" style="display:none;">{{shift.name}} {{shift.start}}</li>
									{% endfor %}
								</ul>
							</div>
							<div id="show-res" style="display:none;">
								<b>Shifts you have marked as not attended:</b>
								<br/>
								Please provide reson for not attedning the following shifts.<br/>
									{% for shift in shifts %}
										<div class="form-group mt-3" id="show-res-{{shift.id}}">
											<label for="exampleInputEmail1">{{shift.name}} {{shift.start}}</label>
											<input type="text" class="form-control" name="res-{{shift.id}}" id="res-{{shift.id}}" placeholder="Reason" required>
										</div>
									{% endfor %}
								<br/>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-primary">Approve</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		</div>
	</div>
	{% if  OA or OURSMentor %}
		<script type="text/javascript">
			// The following function is copy from 
			// https://docs.djangoproject.com/en/dev/ref/csrf/#ajax
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = cookies[i].trim();
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}

			var canUndoOurs = false;
			var clockedInOurs = false;
			var canUndoOA = false;
			var clockedInOA = false;

			{% if OURSMentor %}
				var punchBtnOurs = $("#punch-ours");
				var undoBtnOurs = $("#undo-ours");
				var punchInIconOurs = $("#punch-in-ours");
				var punchOutIconOurs = $("#punch-out-ours");
				punchBtnOurs.click(() => changeClock("OURS"));
				undoBtnOurs.click(() => undo("OURS"));
				{% if OURS_clocked_in %}
					punchIn("OURS");
					clockedInOurs = true;
					canUndoOurs = true;
					undoSet("OURS");
				{% else %}
					punchOut("OURS");
				{% endif %}
			{% endif %}

			{% if OA %}
				var punchBtnOA = $("#punch-oa");
				var undoBtnOA = $("#undo-oa");
				var punchInIconOA = $("#punch-in-oa");
				var punchOutIconOA = $("#punch-out-oa");
				punchBtnOA.click(() => changeClock("OA"));
				undoBtnOA.click(() => undo("OA"));
				{% if OA_clocked_in %}
					punchIn("OA");
					clockedInOA = true;
					canUndoOA = true;
					undoSet("OA");
				{% else %}
					punchOut("OA");
				{% endif %}
			{% endif %}

			function timeShow(){
				var now = new Date();
				{% if OURSMentor %}  
					$("#time-ours").text(now.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }));
					$("#date-ours").text(now.toLocaleString('en-US', { day: 'numeric', month: 'numeric', year: 'numeric' }))
				{% endif %}
				{% if OA %}  
					$("#time-oa").text(now.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }));
					$("#date-oa").text(now.toLocaleString('en-US', { day: 'numeric', month: 'numeric', year: 'numeric' }))
				{% endif %}
			}

			setInterval(() => {timeShow();}, 1000); 
		
			async function undo(shift){
				if (shift == "OURS") {
					{% if OURSMentor %}
						canUndoOurs = false;
						clockedInOurs = false;
					{% endif %}
				} else if (shift == "OA") {
					{% if OA %}
						canUndoOA = false;
						clockedInOA = false;
					{% endif%}
				}
				try {
					let now = new Date();
					let data = {
						'punch_in_out': true,
						'type': 'undo', //in, out, undo  
						'shift': shift == "OURS" ? "OursM" : "OA",
					};   
					let csrftoken = getCookie('csrftoken');  
					const response = await fetch(document.URL, {
						method: 'POST',
						body: JSON.stringify(data),
						headers: { "X-CSRFToken": csrftoken },
					});
				} catch(err) {
					console.error(`Error: ${err}`);
				}
				punchOut(shift);
				undoSet(shift);
			}
		
			async function changeClock(shift){
				if((shift == "OURS" && clockedInOurs) || (shift == "OA" && clockedInOA)){
					punchOut(shift);
					try {
						let now = new Date();
						let data = {
							'punch_in_out': true,
							'type': 'out', //in, out, undo  
							'shift': shift == "OURS" ? "OursM" : "OA",
						};   
						let csrftoken = getCookie('csrftoken');  
						const response = await fetch(document.URL, {
							method: 'POST',
							body: JSON.stringify(data),
							headers: { "X-CSRFToken": csrftoken },
						});
					} catch(err) {
						console.error(`Error: ${err}`);
					}
				} else {
					punchIn(shift);
					try {
						let now = new Date();
						let data = {
							'punch_in_out': true,
							'type': 'in', //in, out, undo  
							'shift': shift == "OURS" ? "OursM" : "OA",
						};   
						let csrftoken = getCookie('csrftoken');  
						const response = await fetch(document.URL, {
							method: 'POST',
							body: JSON.stringify(data),
							headers: { "X-CSRFToken": csrftoken },
						});
					} catch(err) {
						console.error(`Error: ${err}`);
					}
				}
				if (shift == "OURS") {
					clockedInOurs = !clockedInOurs;
					canUndoOurs = clockedInOurs;
					undoSet("OURS");
				} else if (shift == "OA") {
					clockedInOA = !clockedInOA;
					canUndoOA = clockedInOA;
					undoSet("OA");
				}
			}
		
			function punchOut(shift){
				if (shift == "OURS") {
					punchBtnOurs.addClass("btn-success");
					punchBtnOurs.removeClass("btn-danger");
					punchInIconOurs.css("display","block");
					punchOutIconOurs.css("display","none");
				} else if (shift == "OA") {
					punchBtnOA.addClass("btn-success");
					punchBtnOA.removeClass("btn-danger");
					punchInIconOA.css("display","block");
					punchOutIconOA.css("display","none");
				}
			}
		
			function punchIn(shift){
				if (shift == "OURS") {
					punchBtnOurs.removeClass("btn-success");
					punchBtnOurs.addClass("btn-danger");
					punchInIconOurs.css("display","none");
					punchOutIconOurs.css("display","block");
				} else if (shift == "OA") {
					punchBtnOA.removeClass("btn-success");
					punchBtnOA.addClass("btn-danger");
					punchInIconOA.css("display","none");
					punchOutIconOA.css("display","block");
				}
			}
		
			function undoSet(shift){
				if (shift == "OURS") {
					if(canUndoOurs){
						undoBtnOurs.removeClass("btn-default");
						undoBtnOurs.addClass("btn-warning");
					} else {
						undoBtnOurs.removeClass("btn-warning");
						undoBtnOurs.addClass("btn-default");
					}
				} else if (shift == "OA") {
					if(canUndoOA){
						undoBtnOA.removeClass("btn-default");
						undoBtnOA.addClass("btn-warning");
					} else {
						undoBtnOA.removeClass("btn-warning");
						undoBtnOA.addClass("btn-default");
					}
				}
			}
		</script>
	{% endif %}
{% endblock %}