{% load groups %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">LRC Staff Database</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav me-auto">
                {% if user|is_privileged %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-account-dropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Alerts
                            <span class="badge bg-secondary">{{ total_alert_count }}</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-account-dropdown">
                            <li>
                                <a class="dropdown-item" href="#">
                                    <div>SI<span class="badge bg-secondary pull-right">{{ total_si }}</span></div>
                                </a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li><a class="dropdown-item" href="{% url 'view_shift_change_requests' 'SI' 'New' %}"><div>New Change <span class="badge bg-secondary pull-right">{{ pending_si_change_count }}</span></div></a></li>
                                    <li><a class="dropdown-item" href="{% url 'view_shift_change_requests' 'SI' 'Pending' %}"><div>Pending Change <span class="badge bg-secondary">{{ new_si_change_count }}</span></div></a></li>
                                    <li><a class="dropdown-item" href="{% url 'view_drop_shift_requests' 'SI' 'New' %}"><div>Drop <span class="badge bg-secondary pull-right">{{ si_drop_count }}</span></div></a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <div>Group Tutor<span class="badge bg-secondary pull-right">{{ total_gt }}</span></div>
                                </a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li><a class="dropdown-item" href="{% url 'view_shift_change_requests' 'GT' 'New' %}"><div>New Change <span class="badge bg-secondary pull-right">{{ pending_gt_change_count }}</span></div></a></li>
                                    <li><a class="dropdown-item" href="{% url 'view_shift_change_requests' 'GT' 'Pending' %}"><div>Pending Change <span class="badge bg-secondary">{{ new_gt_change_count }}</span></div></a></li>
                                    <li><a class="dropdown-item" href="{% url 'view_drop_shift_requests' 'GT' 'New' %}"><div>Drop <span class="badge bg-secondary pull-right">{{ gt_drop_count }}</span></div></a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <div>Tutor<span class="badge bg-secondary pull-right">{{ total_tutor }}</span></div>
                                </a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li><a class="dropdown-item" href="{% url 'view_shift_change_requests' 'Tutor' 'New' %}"><div>Change <span class="badge bg-secondary pull-right">{{ tutoring_change_count }}</span></div></a></li>
                                    <li><a class="dropdown-item" href="{% url 'view_drop_shift_requests' 'Tutor' 'New' %}"><div>Drop <span class="badge bg-secondary pull-right">{{ tutoring_drop_count }}</span></div></a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <div>OURS Mentor<span class="badge bg-secondary pull-right">{{ total_om }}</span></div>
                                </a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li><a class="dropdown-item" href="{% url 'view_shift_change_requests' 'OursM' 'New' %}"><div>Change <span class="badge bg-secondary pull-right">{{ om_change_count }}</span></div></a></li>
                                    <li><a class="dropdown-item" href="{% url 'view_drop_shift_requests' 'OursM' 'New' %}"><div>Drop <span class="badge bg-secondary pull-right">{{ om_drop_count }}</span></div></a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <div>Other<span class="badge bg-secondary pull-right">{{ total_other }}</span></div>
                                </a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li><a class="dropdown-item" href="{% url 'view_shift_change_requests' 'Other' 'New' %}"><div>New Change <span class="badge bg-secondary pull-right">{{ new_other_change_count }}</span></div></a></li>
                                    <li><a class="dropdown-item" href="{% url 'view_shift_change_requests' 'Other' 'Pending' %}"><div>Pending Change <span class="badge bg-secondary">{{ pending_other_change_count }}</span></div></a></li>
                                    <li><a class="dropdown-item" href="{% url 'view_drop_shift_requests' 'Other' 'New' %}"><div>Drop <span class="badge bg-secondary pull-right">{{ other_drop_count }}</span></div></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-account-dropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Employees
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-account-dropdown">
                            <li><h6 class="dropdown-header">List users</h6></li>
                            <li><a class="dropdown-item" href="{% url 'list_users' %}">All Users</a></li>
                            <li><a class="dropdown-item" href="{% url 'list_users' 'SI' %}">SI Leaders</a></li>
                            <li><a class="dropdown-item" href="{% url 'list_users' 'Tutor' %}">Tutors</a></li>
                            <li><a class="dropdown-item" href="{% url 'list_users' 'GT' %}">Group Tutors</a></li>
                            <li><a class="dropdown-item" href="{% url 'list_users' 'SST' %}">Study Skill Tutors</a></li>
                            <li><a class="dropdown-item" href="{% url 'list_users' 'OursM' %}">OURS Mentor</a></li>
                            <li><a class="dropdown-item" href="{% url 'list_users' 'Office staff' %}">Office Staff</a></li>
                            <li><a class="dropdown-item" href="{% url 'list_users' 'Supervisors' %}">Supervisors</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><h6 class="dropdown-header">Manage users</h6></li>
                            <li><a class="dropdown-item" href="{% url 'reset_password' %}">Reset User Password</a></li>
                            <li><a class="dropdown-item" href="{% url 'create_user' %}">Create User</a></li>
                            <li><a class="dropdown-item" href="{% url 'create_users_in_bulk' %}">Create Users in Bulk</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-account-dropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Courses
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-account-dropdown">
                            <li><a class="dropdown-item" href="{% url 'list_courses' %}">Course List</a></li>
                            <li><a class="dropdown-item" href="{% url 'add_course' %}">Add Course</a></li>
                            <li><a class="dropdown-item" href="{% url 'add_courses_in_bulk' %}">Add Course in Bulk</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="{% url 'list_course_sections' 'none' %}">Course Section List</a></li>
                            <li><a class="dropdown-item" href="{% url 'add_course_section' %}">Add Course Section</a></li>
                            <li><a class="dropdown-item" href="{% url 'add_sections_in_bulk' %}">Add Course Sections in Bulk</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="{% url 'add_class_detail_in_bulk' %}">Add Class Details in Bulk</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-account-dropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Semester
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-account-dropdown">
                            <li><a class="dropdown-item" href="{% url 'list_semesters' %}">List Semester</a></li>
                            <li><a class="dropdown-item" href="{% url 'add_semester' %}">Add Semester</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-account-dropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Shifts
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-account-dropdown">
                            <li><a class="dropdown-item" href="{% url 'new_shift' %}">Schedule New Shift</a></li>
                            <li><a class="dropdown-item" href="{% url 'new_shift_recurring' %}">Add Recurring Shifts</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="{% url 'drop_shifts_on_date' %}">Drop Shifts on Date</a></li>
                            <li><a class="dropdown-item" href="{% url 'swap_shift_dates' %}">Swap Shift Dates</a></li>
                            <li><a class="dropdown-item" href="{% url 'move_shifts_from_date' %}">Move Shifts from Date</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    {% if user|is_pm %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbar-account-dropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                PM
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbar-account-dropdown">
                                <li><a class="dropdown-item" href="{% url 'pm_schedule' 0 %}">Check Schedule</a></li>
                                <li><a class="dropdown-item" href="{% url 'pm_add_meeting' %}">Schedule Meeting</a></li>
                                <li><a class="dropdown-item" href="{% url 'view_schedule' 'All' '0' %}">Record Observation</a></li>
                                <li><a class="dropdown-item" href="{% url 'view_schedule' 'All' '0' %}">Past Observation</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-account-dropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Schedule
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-account-dropdown">
                            <li><a class="dropdown-item" href="{% url 'view_schedule' 'All' '0' %}">All</a></li>
                            <li><a class="dropdown-item" href="{% url 'view_schedule' 'SI' '0' %}">SI</a></li>
                            <li><a class="dropdown-item" href="{% url 'view_schedule' 'Tutoring' '0' %}">Tutoring</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-account-dropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Payroll
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-account-dropdown">
                            {% if user|is_privileged %}
                            <li><h6 class="dropdown-header">Manage Payroll</h6></li>
                            <li><a class="dropdown-item" href="{% url 'weekly_payroll' 0 %}">Weekly View</a></li>
                            <li><a class="dropdown-item" href="{% url 'user_payroll' 0 %}">User View</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><h6 class="dropdown-header">Your Payroll</h6></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'sign_payroll' %}">Sign Payroll</a></li>
                            <li><a class="dropdown-item" href="{% url 'view_payroll' %}">View Payroll</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-account-dropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-account-dropdown">
                            <li><a class="dropdown-item" href="{% url 'edit_profile' user.id %}">Edit profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <span class="navbar-text">
                    <a href="{% url 'user_profile' user.id %}">{{ user.first_name }} {{ user.last_name }}</a>
                </span>
            {% endif %}
        </div>
    </div>
</nav>
